{block #loadCSS}
{include #parent}
<link type="text/css" href="{$baseUri}/css/filetypes.css" rel="stylesheet" />
<link type="text/css" href="{$baseUri}/css/function-icons.css" rel="stylesheet" />
{/block}

{block #content}


{control directoryViewer}

