{block #loadJS}
{include #parent}
<script type="text/javascript" src="{$baseUri}/js/nette-ajax-form.js"></script>
{include ../../../templates/@texyla.latte}
{/block}

{block #content}


{control postViewer}

