{layout "../@layout.latte"}

{block #loadJS}
{include #parent}
{include ../@texyla.latte}
{include ../@datepicker.latte}
{/block}

{block #content}

{*{block #header}
<h1>Úprava</h1>
{/block}*}

{block #form}
Formulář
{/block}
