parameters:
    club:
        fullName: Plný název klubu
        shortName: Krátký název
        code: ZKRATKA
        mail: johndoe@example.org
        feedMail: feed@example.org
    propertyUrl: http://google.com
