{layout $templatePath.'/@layout.latte'}

{block #content}

<h2>{block #title}Parametry tratí{/block}</h2>

<table>
<tr><th>Kategorie</th><th>Délka</th><th>Převýšení</th><th>Počet kontrol</th></tr>

<!-- <tr><th>D10N</th><td>1.1 km</td><td>30 m</td><td>5</td></tr> -->

</table>

