{layout $templatePath.'/@layout.latte'}

{block #content}

<h2>{block #title}Startovka podle oddílů{/block}</h2>
<p><a href="javascript:history.go(-1);">&laquo; Zpět</a></p>

<p>Startovní listina zatím není k dispozici.</p>