<script type="text/javascript" src="{$baseUri}/js/jquery.ui.gridito.js"></script>
<script type="text/javascript" src="{$baseUri}/js/nette-ajax-form.js"></script>
<script type="text/javascript">
  // gridito init
  $("div.gridito").livequery(function () {
	  $(this).gridito();
  });
  
</script>
<link type="text/css" href="{$baseUri}/css/gridito.css" rel="stylesheet">