/**
@source: http://findicons.com/pack/1637/file_icons_vs_2
*/
.filetype-1{   
   background: url('../images/filetypes/doc.png') center top no-repeat;
}
.filetype-2{   
   background: url('../images/filetypes/xls.png') center top no-repeat;
}
.filetype-3{   
   background: url('../images/filetypes/zip.png') center top no-repeat;
}
.filetype-4{   
   background: url('../images/filetypes/rar.png') center top no-repeat;
}
.filetype-5{   
   background: url('../images/filetypes/pdf.png') center top no-repeat;
}
.filetype-6{   
   background: url('../images/filetypes/exe.png') center top no-repeat;
}
.filetype-7{   
   background: url('../images/filetypes/txt.png') center top no-repeat;
}
.filetype-11{   
   background: url('../images/filetypes/html.png') center top no-repeat;
}
.filetype-12{   
   background: url('../images/filetypes/html.png') center top no-repeat;
}
.filetype-13{   
   background: url('../images/filetypes/jpg.png') center top no-repeat;
}
.filetype-14{   
   background: url('../images/filetypes/jpg.png') center top no-repeat;
}
.filetype-15{   
   background: url('../images/filetypes/gif.png') center top no-repeat;
}
.filetype-16{   
   background: url('../images/filetypes/png.png') center top no-repeat;
}
.filetype-17{   
   background: url('../images/filetypes/bmp.png') center top no-repeat;
}
.filetype-18{   
   background: url('../images/filetypes/docx.png') center top no-repeat;
}
.filetype-19{   
   background: url('../images/filetypes/xlsx.png') center top no-repeat;
}
.filetype-20{   
   background: url('../images/filetypes/tar.png') center top no-repeat;
}
.filetype-21{   
   background: url('../images/filetypes/gz.png') center top no-repeat;
}
